@use '../base.scss';
@use '../colors.scss';

.SlotMachine {
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}


// $unit-of-speed: 50ms; // crazy fast
$unit-of-speed: 100ms; // normal
$slot-symbol-count: 7;
$slot-symbol-height: 32px;
$slot-symbol-width: 32px;
$slot-colum-count: 5;
$slot-colum-height: $slot-symbol-height * $slot-colum-count;
// $unit-of-speed: 1000ms; // boring

@mixin odometer-styling () {
  font-family: monospace;
  font-size: slot-symbol-height;
  //margin: 5px auto;
  display: inline-block;
  background: #0000;


  //box-shadow: inset 0 2px 8px -2px #000;
}

@mixin digit-styling() {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0;

  &:first-child {
    border-left: none;
  }
}

@mixin animation($single-animation) {
  -webkit-animation: $single-animation;
  animation: $single-animation;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

.odometer {


  background: #333;
  text-align: center;

  @include odometer-styling();
}

.digit {
  display: inline-block;
  height: $slot-colum-height;
  width: $slot-symbol-width;
  padding: 0;
  margin: 0;

  overflow: hidden;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  @include digit-styling();
}

.digit-container {
  overflow-y: hidden;

  @include animation(slide infinite linear);
}

.slot-1 {
  @include animation-duration(10 * $unit-of-speed);
}

.slot-2 {
  @include animation-duration(20 * $unit-of-speed);
}

.slot-3 {
  @include animation-duration(30 * $unit-of-speed);
}
.slot-4 {
  @include animation-duration(40 * $unit-of-speed);
}
.slot-5 {
  @include animation-duration(50 * $unit-of-speed);
}


@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-32px*$slot-symbol-count);
  }

  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide {
  from {
    transform: translateY(-32px*$slot-symbol-count);
  }

  to {
    transform: translateY(0);
  }
}

