@use '../base.scss';
@use '../colors.scss';

.SlotMachine {
  font-family: sans-serif;
  text-align: center;
}

.SlotMachine__slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
}

.SlotMachine__section {
  position: absolute;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
}

.SlotMachine__container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.SlotMachine__roll {
  width: 215px;
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

@keyframes SlotMachine__blinkingText   {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
@keyframes SlotMachine_movingAnimation {

}

.SlotMachine__rolling  {

  -webkit-animation-name: SlotMachine__slideanimation;
  animation-name: SlotMachine__slideanimation;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}


.odometer-digit {
    display: inline-block;
    position: relative;

  .odometer-digit-spacer {
      display: inline-block;
      visibility: hidden;
    }
    .odometer-digit-inner {
        text-align: left;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    .odometer-ribbon {
        display: block;
    }
    .odometer-ribbon-inner {
        display: block;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .odometer-value {
        display: block;
        -ms-transform: translateZ(0);
        transform: translateZ(0);

        odometer-value:last-child {
            position: absolute;
        }
    }
}

.odometer-animating-up {
    .odometer-ribbon-inner {
        -webkit-transition: -webkit-transform 2s;
        -moz-transition: -moz-transform 2s;
        -ms-transition: -ms-transform 2s;
        -o-transition: -o-transform 2s;
        transition: transform 2s;
    }
    .odometer-animating .odometer-ribbon-inner {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
  }
}

.odometer-animating-down {
    .odometer-ribbon-inner {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    .odometer-animating .odometer-ribbon-inner {
        -webkit-transition: -webkit-transform 2s;
        -moz-transition: -moz-transform 2s;
        -ms-transition: -ms-transform 2s;
        -o-transition: -o-transform 2s;
        transition: transform 2s;

        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes SlotMachine__slideanimation {
  0%    { top: 0; }
  100%  { top: -200%; }
}
