@use '../base.scss';
@use '../colors.scss';

.SlotMachine {
  font-family: sans-serif;
  text-align: center;
}


// $unit-of-speed: 50ms; // crazy fast
$unit-of-speed: 100ms; // normal
// $unit-of-speed: 1000ms; // boring

@mixin odometer-styling () {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  //margin: 5px auto;
  display: inline-block;
  background: #222;
  border-radius: 2px;
  transform: scale(3); //scale(3);
  //box-shadow: inset 0 2px 8px -2px #000;
}

@mixin digit-styling() {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0;

  &:first-child {
    border-left: none;
  }
}

@mixin animation($single-animation) {
  -webkit-animation: $single-animation;
  animation: $single-animation;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

.odometer {


  background: #333;
  text-align: center;

  @include odometer-styling();
}

.digit {
  display: inline-block;
  height: 96px;
  width: 32px;
  overflow: hidden;
  text-align: center;
  :first-child {
    box-shadow: inset .05em 0 .1em rgba(0, 0, 0, 0.5), 0 0 0 .03em #fff, 0 0 0 .05em rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
  :last-child {
    box-shadow: inset -.05em 0 .1em rgba(0, 0, 0, 0.5), 0 0 0 .03em #fff, 0 0 0 .05em rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
  }
  @include digit-styling();
}
.slot-section {
  position: absolute;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
}

.slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
}

.slot-container {
  border: 1px solid lightgrey;
  height: 160px;
  max-height: 160px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 32px;
}



.digit-container {
  padding: 16px 0;
  overflow-y: hidden;
  @include animation(slide infinite linear);
}

.slot-1 {
  @include animation-duration(10 * $unit-of-speed);
}

.slot-2 {
  @include animation-duration(20 * $unit-of-speed);
}

.slot-3 {
  @include animation-duration(30 * $unit-of-speed);
}
.slot-4 {
  @include animation-duration(40 * $unit-of-speed);
}
.slot-5 {
  @include animation-duration(50 * $unit-of-speed);
}

.slot-mover {
  //position: absolute;
  position: relative;
  width: 32px;
  height: 32px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  // '-webkit-animation': animation_text,
  animation-iteration-count: infinite;
  //'animation': animation_text;
  animation-name : slot-frame-test;
  animation-fill-mode :forwards;
  animation-timing-function: linear;
  }

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-32px*10);
  }

  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slot-frame-test {
  from {
      transform: translateY(-32px);
  }

  to {
    transform: translateY(500px);
  }
}
