@use '../base.scss';
@use '../colors.scss';

@font-face {
  font-family: '3270 Font';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/3270Medium.ttf') format("truetype");
}

$mat-blue-400  : #42a5f5;
$mat-blue-300  : #64b5f6;
$mat-red-500   : #f44336;
$mat-red-400   : #ef5350;
$mat-pink-400  : #ec407a;
$mat-pink-300  : #f06292;
$mat-green-400 : #66bb6a;
$mat-green-300 : #81c784;
$mat-cyan-400  : #26c6da;
$mat-cyan-300  : #4dd0e1;
$mat-yellow-400: #ffee58;
$mat-yellow-300: #fff176;
$mat-grey-100  : #f5f5f5;
$mat-grey-900  : #212121;
$mat-amber-300: #ffd54f;
$mat-grey-500: #9e9e9e;

$primary-color: $mat-blue-400;
$accent-color: $mat-amber-300;
$warn-color: $mat-red-400;

$text-color: $mat-grey-100;
$disabled-color: $mat-grey-500;
$l_background-color: $mat-grey-900;

$lu3270-color: $mat-green-300;
$lu3270-background-color: 'black';
$lu3270-highlight-color: $mat-green-400;

// all these magic numbers have to coordinate to
// properly scale the 3270 font
$el370-magic-cxFactor: 9.65625px;
$el370-magic-cyFactor: 21px;
$el370-magic-nominalFontSize: 18px;
$el370-magic-paddingBottom: 8;
$el370-magic-paddingLeft: 16;
$el370-magic-paddingRight: 16;
$el370-magic-paddingTop: 8;


.caret {
  border: 0;
  padding: 0;
  outline: none;
  background-color: #0F0;
  display: inline-block;
  font-family: monospace;
}
@keyframes blink_term {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.attribute {
    color: $lu3270-color;
    background: 'black';
  .fg-red {
    color: $mat_red_400;
    background: 'black';
  }
  .fg-red-highlight {
    color: $mat_red_500;
    font-weight: 900;
  }
  .fg-blue {
    color: $mat_blue_300;
    background: 'black';
  }
  .fg-blue-highlight {
    color: $mat_blue_400;
    font-weight: 900;
  }
  .fg-pink {
    color: $mat_pink_300;
    background: 'black';
  }
  .fg-pink-highlight {
    color: $mat_pink_400;
    font-weight: 900;
  }
  .fg-green {
    color: $mat_green_300;
    background: 'black';
  }
  .fg-green-highlight {
    color: $mat_green_400;
    font-weight: 900;
  }
  .fg-turquoise {
    color: $mat_cyan_300;
    background: 'black';
  }
  .fg-turquoise-highlight {
    color: $mat_cyan_400;
    font-weight: 900;
  }
  .fg-yellow {
    color: $mat-yellow-300;
    background-color:'black';
  }
  .fg-yellow-highlight {
    color: $mat_yellow_400;
    font-weight: 900;
  }
  .fg-white {
    color: 'white';
  }
  .fg-white-highlight {
    color: 'white';
    font-weight: 900;
  }
  .fg-default {
    color: 'white';
  }
  .fg-default-highlight {
    color: var(--lu3270_highlight_color);
    font-weight: 900;
  }
  .underline {
    text-decoration: underline;
  }
  .blink {
    animation: 'blink_term 1s linear infinite';
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  from {opacity: 1;}
  20% {opacity: 1;}
  28% {opacity: 0;}
  72% {opacity: 0;}
  80% {opacity: 1;}
  to {opacity: 1;}
}

.lu3270 {
  background-clip:content-box;
  overflow-wrap: break-word;
  background:none;
  white-space: nowrap;
  width:100%;
  height:100%;
  display: block;
  position:relative;
  background:'black';
  font-family: '3270 Font';
  //font-family: monospace;
  font-size: 18px;
  overflow: hidden;
  padding: none;
  margin: none;

  .cell {
    white-space: nowrap;
    text-indent: 0;
    text-align: left;
    overflow-wrap: break-word;
    background:none;
    align-self: left;
    position: absolute;
    display:block;
  //  flex: 1 1 auto;
    width: auto;
    height:auto;
    outline: none;
    padding: none;
    border:none;
    margin:none;
    font-size:inherit;
    color:inherit;

    .field {
      border-width:0px;
      border:none;
      position: relative;
      outline: none;
      padding: none;
      overflow:none;
      margin:none;
      &::-ms-clear {  display: none; width : 0; height: 0; }
      &::-ms-reveal {  display: none; width : 0; height: 0; }
      height:100%;
      width:100%;
      font-size:inherit;
      background-color:transparent;
      color:inherit;
      border-bottom : 1px solid red;
      &:disabled {
        background-color:transparent;
        color:inherit;
        border: none;
        border:none;
        outline: none;
      }
  }
}
}



.lu3270-status-bar {
// border-top: 1px  solid yellow;
  align-content: center;
  border-top: 1px solid $lu3270-color;
  color: $lu3270-color;
  background-color:'black';
  font-family: '3270 Font';
  font-size: 18px;
  padding: 8px 16px;
  width: 100%;
  .locked {
    color: &error-color;
  }
};

$el370-normal-colors: (
  'default': var(--lu3270_color),
  'blue': var(--mat_blue_300),
  'red': var(--mat_red_400),
  'pink': var(--mat_pink_300),
  'green': var(--mat_green_300),
  'cyan': var(--mat_cyan_300),
  'yellow':var(--mat_yellow_300),
  'grey': var(--mat_grey_100),
);
$el370-highlight-colors: (
  'default': var(--lu3270_highlight_color),
  'blue': var(--mat_blue_300),
  'red': var(--mat_red_500),
  'pink': var(--mat_pink_400),
  'green': var(--mat_green_400),
  'cyan': var(--mat_cyan_400),
  'yellow':var(--mat_yellow_400),
  'grey': 'white',
);
/*
.el3270-cell {
  color: var(--lu3270_color);
  background-color: var(--lu3270_background);
  .hidden {
    color: var(--lu3270_background);
  }
  .focused {
    color: var(--lu3270_color);
    background-color: var(--lu3270_background);
    .hidden {
      color: var(--lu3270_color);
      background-color: var(--lu3270_color);
    }
    .focused {
      color: var(--lu3270_background);
      background-color: var(--lu3270_color);
    }
    outline: 1px solid var(--lu3270_color);
  }
  .attribute {
    .blink {
      animation: blink 1s linear infinite;
    }
    .underscore {
      text-decoration: underline;
    }

    .blue: { color: var(--mat_blue_300); }
    .red: { color: var(--mat_red_400); }
    .blue: { color: var(--mat_blue_400); }
    .pink: { color: var(--mat_pink_300); }
    .green: { color: var(--mat_green_300); }
    .cyan: { color: var(--mat_cyan_300); }
    .yellow:{ color: var(--mat_yellow_300); }
    .grey: { color: var(--mat_grey_100); }

    .highlight {
      font-weight: 900;
      color: var(--lu3270_highlight_color);
      .blue: { color: var(--mat_blue_400); }
      .red: { color: var(--mat_red_500); }
      .blue: { color: var(--mat_blue_400); }
      .pink: { color: var(--mat_pink_400); }
      .green: { color: var(--mat_green_400); }
      .cyan: { color: var(--mat_cyan_400); }
      .yellow:{ color: var(--mat_yellow_400); }
      .grey : { color: 'white'; }
    }
    .reverse {
      color: var(--mat_grey_900);
      background-color: var(--lu3270_color);
      .blue: { background-color: var(--mat_blue_300); }
      .red: { background-color: var(--mat_red_400); }
      .blue: { background-color: var(--mat_blue_400); }
      .pink: { background-color: var(--mat_pink_300); }
      .green: { background-color: var(--mat_green_300); }
      .cyan: { background-color: var(--mat_cyan_300); }
      .yellow:{ background-color: var(--mat_yellow_300); }
      .grey: { background-color: var(--mat_grey_100); }
      .highlight {
        font-weight: 900;
        background-color: var(--lu3270_highlight_color);
        .blue: { background-color: var(--mat_blue_300); };
        .red: { background-color: var(--mat_red_500); }
        .blue: { background-color: var(--mat_blue_400); }
        .pink: { background-color: var(--mat_pink_400); }
        .green: { background-color: var(--mat_green_400); }
        .cyan: { background-color: var(--mat_cyan_400); }
        .yellow:{ background-color: var(--mat_yellow_400); }
        .grey : { background-color: 'white'; }
    }
    }
  }
};
*/

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  25% {
    stroke-dashoffset: 0.75;
  }
  50% {
    stroke-dashoffset: 0.50;
  }
  75% {
    stroke-dashoffset: 0.25;
  }
  100% {
    stroke-dashoffset: 0;
  }

}
